</div><div class="col-lg-2" style="background-color: white;">
        </div>

      <div class="col-lg-10">
        <h1>welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers !!</h1>
